/*=======================================================
					GLOBAL
  ======================================================= */
body{
	width:100%; 
	margin:auto;
	background-image:url(../images/background.png);
    background-size:auto;
	text-align:center;
	cursor: url('../images/cursor.cur'), auto;
}
body a{
	color:#0072bb;
}
body a:hover {
	font-weight:bold;
}

/*=======================================================
					MOBILE
  ======================================================= */

/*====
	EN/PT
  ==== */
.button {
	padding-top:300px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}
.button li {
	display:inline-block;
    cursor: pointer;
}
.button li:not(:first-child) {
	padding-left: 60px;
}

/*====
	FOTO DO PERFIL
  ==== */
.perfil_img {
	padding-top: 100px;
}

/*====
	MENU
  ==== */
.menu {
	padding:40px 0px 60px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.menu li {
	display:inline-block;
}
.menu li:not(:first-child) {
	padding-left:10px;
}

/*====
	RESUMO
  ==== */
.resumo {
	width:80%;
	margin:auto;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding-bottom: 40px;
}
.resumo p:not(:first-child) {
	padding-top:15px;
}

/*====
	ARTIGO
  ==== */
article {
	margin: auto;
	width: 80%;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align:justify;
	padding-bottom: 60px;
}
article p{
	line-height: 200%
}

/*====
	SOCIAL
  ==== */
.social li {
	display:inline-block;
}

/*====
	FOOTER
  ==== */
footer {
	width: 100%;
}


/*=======================================================
					TABLET
  ======================================================= */

@media screen and (min-width: 768px) {
	.button {
		padding-top:500px;
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
	}
	.button li {
		display:inline-block;
		cursor: pointer;
	}
	.button li:not(:first-child) {
		padding-left: 60px;
	}

	/*====
		FOTO DO PERFIL
	  ==== */
	.perfil_img {
		padding-top: 100px;
	}

	/*====
		MENU
	  ==== */
	.menu {
		padding:40px 0px 80px;
		font-family: 'Roboto', sans-serif;
		font-size: 22px;
	}
	.menu li {
		display:inline-block;
	}
	.menu li:not(:first-child) {
		padding-left:40px;
	}

	/*====
		RESUMO
	  ==== */
	.resumo {
		width:80%;
		margin:auto;
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
	}
	.resumo p:not(:first-child) {
		padding-top:25px;
	}

	/*====
		ARTIGO
	  ==== */
	article {
		margin: auto;
		width: 60%;
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		text-align: justify;
		padding-bottom: 60px;
	}
	article p{
	line-height: 200%
	}


	/*====
		SOCIAL
	  ==== */
	.social li {
		display: inline-block;
	}
	/*====
		FOOTER
	  ==== */
	footer {
		width: 100%;
	}
}

/*=======================================================
					MONITORES
  ======================================================= */

@media screen and (min-width: 992px) {
	.button {
		padding-top:350px;
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
	}
	.button li {
		display:inline-block;
		cursor: pointer;
	}
	.button li:not(:first-child) {
		padding-left: 60px;
	}

	/*====
		FOTO DO PERFIL
	  ==== */
	.perfil_img {
		padding-top: 100px;
	}

	/*====
		MENU
	  ==== */
	.menu {
		padding:40px 0px 80px;
		font-family: 'Roboto', sans-serif;
		font-size: 22px;
	}
	.menu li {
		display:inline-block;
	}
	.menu li:not(:first-child) {
		padding-left:40px;
	}

	/*====
		RESUMO
	  ==== */
	.resumo {
		width:80%;
		margin:auto;
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
	}
	.resumo p:not(:first-child) {
		padding-top:25px;
	}

	/*====
		ARTIGO
	  ==== */
	article {
		margin: auto;
		width: 40%;
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		text-align: justify;
		padding-bottom: 60px;
	}
	article p{
	line-height: 200%
	}

	/*====
		SOCIAL
	  ==== */
	.social li {
		display: inline-block;
	}
	/*====
		FOOTER
	  ==== */
	footer {
		width: 100%;
	}
}